@import "~bootstrap/dist/css/bootstrap.css";
// @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

.hotel-label, .restaurant-label, .activity-label {
  font-family: 'Lobster', cursive;
  font-size: 22px;
  text-align: center;
  color: #9d9d9d;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.item {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: white;
  margin: 0 25%;
  text-align: left;
}

.navbar-collapse {
  background-color: #222222;
  width: 100%;
}

a {
  color: #9d9d9d;
}
.navigation {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}

.logo a {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  color: #d1efdd;
}

.navbar-nav>li>a:hover {
  background-color: #00bc66;
  color: white;
}

span.icon:before {
  font-family: 'Glyphicons Halflings';
  content: "\f015";
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.col-lg-3 {
  padding: 0px;
  margin: 0px;
}

#map {
  height: 100vh;
  // width: 80vw;
  margin: 0;
  padding: 0;

}

.options {
  background-color: #222222;
  height: 100vh;
  // width: 100px;
}

.type {
  background-color: black;
  height: 50px;
  width: 50px;
}

.options-text {
  text-align: center;
}

select {
  display: block;
  margin: 0 auto;
  text-align: center;
}

#current-day {
  background-color: #222222;
  color: #d1efdd;
  text-align: center;
}

select {
  background-color: white;
  text-align: center;
  width: 50%;
}

.days {
  margin: 0px;
  text-align: center;
}

hr {
  opacity: 0.3;
  width: 70%;
}

.btn {
  background-color: #00bc66;
  border-radius: 50%;
}

.btn:hover {
  background-color: #d1efdd;
}

.item::before {
  content: "•  ";
  color: #00bc66;
}

.glyphicon {
 position: relative;
 top: 1px;
 color: #00bc66;
 display: inline-block;
 font-family: 'Glyphicons Halflings';
 font-style: normal;
 font-weight: normal;
}

.glyphicon-map-marker {
  font-size: 22px;
}

.glyphicon-cutlery:before {
 content:"\e179";
  font-size: 15px;
}

.glyphicon-home:before {
 content:"\e021";
  font-size: 15px;
}

.glyphicon-play:before {
 content:"\e072";
  font-size: 15px;
}
